services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: tg2eitaa
      POSTGRES_PASSWORD: tg2eitaa
      POSTGRES_DB: tg2eitaa
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
